SUPABASE_URL=https://vlehuwrquiprjumjrkbi.supabase.co
SUPABASE_SERVICE_ROLE_KEY=
OPENROUTESERVICE_API_KEY=
OPENROUTESERVICE_BASE_URL=https://api.openrouteservice.org
VANTA_DEPOT_LATITUDE=17.3850
VANTA_DEPOT_LONGITUDE=78.4867
